@CHARSET "ISO-8859-1";

nav ul ul {
	display: none;
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}

/* nav ul li:hover>ul {
	display: block;
} */

nav ul {
	/*Hack for IE*/
	z-index: 100000;
	background: linear-gradient(to top, #5BAEB6, #EFEFEF);
	background: -webkit-linear-gradient(#EFEFEF 0%, #5BAEB6 100%);
	background: linear-gradient(center top, #EFEFEF 0%, #5BAEB6 100%);;
	background: -moz-linear-gradient(center top, #EFEFEF 0%, #5BAEB6 100%);
	background: -webkit-linear-gradient(center top, #EFEFEF 0%, #5BAEB6 100%);
	background: -webkit-gradient(center top, #EFEFEF 0%, #5BAEB6 100%);
	background: -o-linear-gradient(center top, #EFEFEF 0%, #5BAEB6 100%);
	background: -ms-linear-gradient(center top, #EFEFEF 0%, #5BAEB6 100%);
	/* 
	background: -webkit-gradient(linear, center top, center bottom, from(#917c4d), to(#ffffff));
	background: -webkit-linear-gradient(#917c4d, #ffffff);
	background: -moz-linear-gradient(#917c4d, #ffffff);
	background: -o-linear-gradient(#917c4d, #ffffff);
	background: -ms-linear-gradient(#917c4d, #ffffff);
	background: linear-gradient(#917c4d, #ffffff);
	 */
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	list-style: none;
	position: relative;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}

nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	display: block;
	padding: 7px 12px;
	color: #1B1A05;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
		Verdana, sans-serif;
	font-weight: bold;
}

nav ul ul {
	
}

nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

nav ul ul li a {
	color: #fff;
	width: 170px;
}

nav ul ul li a:hover {
	/* background: #B0C4DE; */
	background: #fff;
	color: #000;
}

nav ul ul ul {
	position: absolute;
	top: 0;
}

.nav-right{
	right: 100% !important;
}

.nav-left{
	left: 100% !important;
}